@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    
}

.top-level-heading {
    font-family: 'Roboto', sans-serif;

    font-size: var(--fluid-4);
    font-weight: bold;
    line-height: 1.15;
}

.intro-voice {

    font-size: 18px;
    line-height: 1.15;
}

.second-level-heading {
/*font-family: 'Oswald', sans-serif;*/
    font-size: var(--fluid-3);
    /*font-weight: bold;*/
}

.third-level-heading {
/*font-family: 'Oswald', sans-serif;*/
    font-size: var(--fluid-2);
    line-height: 1.25;
    font-weight: bold;
}

.fourth-level-heading {
/*font-family: 'Oswald', sans-serif;*/
    font-size: var(--fluid-1);
    line-height: 1.15;
}

.body-copy {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;

}

.quiet-voice {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(10px, 1vw, 12px);
    line-height: 1.35;

}

